body {
  margin: 0;
  padding-top: 20px;
  background: linear-gradient(90deg, #5b86e5 0, #191654 58%);
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}